@model IList<DeliciousMeals.Models.Invoice>
@{
    ViewData["Title"] = "Invoice";
}

@{
    if(TempData["Response"] != null)
    {
        <div class="alert alert-warning">
            @TempData["Response"]
        </div>
    }
    else
    {
        
    }
}