<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeliciousMeals.styles.css" asp-append-version="true" />  
    <style type="text/css">

        .anchors:hover{

            box-shadow: 5px 0 10px rgba(0,0,0,0.5);
        }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-danger border-bottom box-shadow mb-3">
            <div class="container-fluid">                
                <a class="anchors navbar-brand text-white" asp-controller="Home" asp-action="Index"><img src="~/images/favicon.ico" width="40" height="30"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="anchors nav-link text-white" asp-controller="Home" asp-action="Index">Home</a>
                        </li>                          
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="anchors nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" 
                                asp-controller="Home" asp-action="DisplayMenu">Menu</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="DisplayByCategory" asp-route-Category="chicken">Chicken</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="DisplayByCategory" asp-route-Category="vegetarian">Vegetarian</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="DisplayByCategory" asp-route-Category="fish">Fish</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="DisplayByCategory" asp-route-Category="burger">Burgers</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="DisplayByCategory" asp-route-Category="chips">Chips</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="DisplayByCategory" asp-route-Category="Fish and Chips">Fish & Chips</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="DisplayByCategory" asp-route-Category="combos">Combos</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="DisplayByCategory" asp-route-Category="beverages">Beverages</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="DisplayByCategory" asp-route-Category="sauces">Sauces</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="DisplayByCategory" asp-route-Category="familymeals">Family Meals</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="DisplayByCategory" asp-route-Category="extras">Extras</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="anchors nav-link text-white" asp-controller="Home" asp-action="DisplayCart">Cart
                                
                                @{
                                    if(ViewData["NumCartItems"] != null)
                                    {
                                        <span>[@ViewData["NumCartItems"]]</span>    
                                    }
                                    else
                                    {
                                        <span>[0]</span>
                                    }
                                }
                            </a>
                        </li>
                        @{
                            if (ViewData["IsLogged"] != null)
                            {
                                string? logged = (string?)ViewData["IsLogged"];
                                if (logged != null && logged == "yes")
                                { 
                                    <li class="nav-item">
                                        <a class="anchors nav-link text-white" asp-controller="Home" asp-action="DisplayInvoice">Invoice</a>
                                    </li>
                                }
                            }                            
                        }
                        @{
                            if (ViewData["IsLogged"] != null)
                            {
                                string? logged = (string?)ViewData["IsLogged"];
                                if (logged != null && logged == "yes")
                                {
                                    <li class="nav-item">
                                        <a class="anchors nav-link text-white" asp-controller="Home" asp-action="TempOrder">Orders</a>
                                    </li>
                                }
                            }
                        }
                    </ul>                   
                </div>
             
                <div class="navbar-collapse collapse justify-content-end">                                            
                                             
                    @{
                       if(ViewData["IsLogged"] != null)
                        {
                            string? logged = (string?) ViewData["IsLogged"];
                            if(logged != null && logged == "yes")
                            {
                                <a class="anchors nav-link text-white ml-5" asp-controller="Authentication" asp-action="Logout">Logout</a>
                            }
                        }
                        else
                        {
                            <a class="anchors nav-link text-white ml-5" asp-controller="Authentication" asp-action="Login">Login</a>
                        }
                    }                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-danger text-white">
        <div class="container">
            &copy; 2023 - DeliciousMeals
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
